header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}
header a img {
  width: 400px;
  height: 100px;
}
header nav {
  width: 50%;
}
header nav dl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 100px;
  padding-top: 30px;
}
header nav dl dt a {
  text-decoration: none;
  color: gold;
}

main {
  min-height: 1000px;
}
main #carrousel {
  height: 500px;
  width: 100%;
}
main #avion1, main #avion2, main #avion3, main #avion4 {
  height: 500px;
}
main #buscador-vuelos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid gold;
  border-radius: 10px;
  background-color: azure;
  position: relative;
  top: -40px;
}
main #buscador-vuelos #origen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
main #buscador-vuelos #destino {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
main #buscador-vuelos #pasajeros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
main #buscador-vuelos .buscar {
  padding: 30px;
}
main .separador {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}
main #seccion-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
main #seccion-info .img-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}
main .vatm-titulo {
  text-align: center;
}
main #contenedor-vt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  /* Efecto Grow */
}
main #contenedor-vt .imagen {
  height: 250px;
  width: 290px;
  border-radius: 10px;
}
main #contenedor-vt .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}
main #contenedor-vt .hvr-grow:hover, main #contenedor-vt .hvr-grow:focus, main #contenedor-vt .hvr-grow:active {
  transform: scale(1.1);
}
main #at-titulo {
  text-align: center;
}
main #qu-titulo {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
main #form-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
main #form-cont form {
  width: 70%;
}

#mainReserva {
  margin-top: 10%;
}
#mainReserva .contenedor-1 {
  margin-left: 15%;
  border: 2px solid gold;
  border-radius: 20px;
  width: 40%;
  display: inline-block;
  background-color: beige;
}
#mainReserva .contenedor-1 h1 {
  background-color: gold;
  border-radius: 20px;
}
#mainReserva .contenedor-1 #formularios-pasajeros .form-pasajero {
  padding: 5px;
}
#mainReserva .contenedor-1 #formularios-pasajeros .form-pasajero #btn-confirmar-reserva {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
#mainReserva .contenedor-1 #formularios-pasajeros .form-pasajero .row {
  padding: 5px;
}
#mainReserva .contenedor-1 #formularios-pasajeros #btn-volver {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
#mainReserva .contenedor-1 #btn-inicio {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
#mainReserva .contenedor-1 h1 {
  text-align: center;
}
#mainReserva .contenedor-1 #contenedor-2 {
  padding: 5%;
  border-radius: 20px;
}
#mainReserva .contenedor-1 #contenedor-2 #form-vuelo {
  display: flex;
  flex-direction: column;
}
#mainReserva .contenedor-1 #contenedor-2 #form-vuelo h6 {
  border-radius: 20px;
  background-color: gold;
  text-align: center;
}
#mainReserva .contenedor-1 #contenedor-2 #form-vuelo #btn-enviar-datos {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  color: black;
}
#mainReserva .contenedor-1 #contenedor-2 #form-vuelo div {
  padding: 10px;
}
#mainReserva .contenedor-1 #operacionFinalizada {
  text-align: center;
}
#mainReserva #resumenAside {
  display: inline-block;
  position: absolute;
  margin-left: 5%;
  width: 30%;
  text-align: center;
  background-color: beige;
  border-radius: 20px;
  border: 2px solid gold;
}
#mainReserva #resumenAside h1 {
  border-radius: 20px;
  background-color: gold;
}

footer {
  background-color: black;
  margin-top: 5%;
  height: 500px;
}
footer #foot-1 {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;
}
footer #foot-2 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer #foot-2 #foot-2-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}
footer #foot-2 #foot-2-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}
footer #foot-3 {
  height: 200px;
}
footer #foot-3 #foot-3-titulo {
  text-align: center;
  position: relative;
  top: 150px;
  color: white;
}
footer ul {
  list-style: none;
  position: relative;
  left: -30px;
}
footer ul a {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */